<!DOCTYPE html>
<html>
<head>
    <title>Login – Incident Platform</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav>Demo Bank – Incident Management</nav>

<div class="container">
    <h2>Login</h2>

    <form method="post">
        <label>Username</label>
        <input name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>
</div>

</body>
</html>
